#Depndendo da versão do python algumas libs podem dar problema, indico usar a 3.12
# Scraping
scrapy==2.11.2
scrapy-user-agents==0.1.1
Twisted==24.3.0

# Storage
boto3==1.34.69

# Streaming
kafka-python-ng==2.2.3

# Processamento
pyspark==3.5.1
delta-spark==3.2.0

# Transformação
dbt-core==1.8.1
dbt-duckdb==1.8.1

# ML
scikit-learn==1.4.2
joblib==1.4.2

# API
fastapi==0.111.0
uvicorn==0.29.0

# Utilitários
python-dotenv==1.0.1
pandas==2.2.2